# Ignore all
#*

# Unsure
.cwGeneratedFileSetLog
Documentation/
Project_Settings/
ProjectInfo.xml
SDK/
!*.c
!*.cpp
!*.h
!*.cpp

# Don't Ignore (Include)
!.gitignore

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
Debug/

### Eclipse ###

# ProcessorExpert
*.pe
*.g_c
*.g_x

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific (C/C++ Development Tooling)
.cproject

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/